/* General Styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  margin: 0 20px;
  padding: 0 20px;
  font-size: 1rem;
  display: content;
  min-width: 50rem;
  flex-wrap: wrap;
  height: auto;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #1549e6;
  margin: 20px 0 10px;
}

/* Paragraphs */
p {
  margin: 0 0 10px;
  color: #ffffff;
  font-size: 1rem;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#header:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Logo */
#logo {
  font-size: 24px;
  font-weight: bold;
  color: #1549e6;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

/* Navbar */
#navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

#navbar ul li {
  margin-right: 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: #1549e6;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

#navbar ul li a:hover,
#navbar ul li a#active {
  color: #1549e6;
  transform: scale(1.1);
  text-decoration: underline;
}

/* Welcome Section */
#welcome-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
  flex-wrap: wrap;
}

.profile-pic {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: rotate(360deg);
}

/* Buttons */
.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-box a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  background-color: #1549e6;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s ease;
}

.btn-box a:hover {
  background: #ffffff;
  transform: translateY(-5px);
}

/* Social Media Icons */
.home-sci {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation: bounceIn 2s ease-in-out;
}

@keyframes bounceIn {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.home-sci a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.home-sci a:hover {
  color: #1549e6;
  transform: rotate(15deg);
}

/* Achievement Section */
#achievement {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background: #1549e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  animation: fadeIn 2s ease-in-out;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.achievement {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  flex: 1 1 calc(99.666% - 40px);
  max-width: calc(99.666% - 40px);
}

.achievement a {
  color: #ff7e5f;
  font-size: 2em;
  margin-bottom: 10px;
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
}

.achievement a:hover {
  color: #feb47b;
  transform: scale(1.1);
}

.achievement h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #1549e6;
}

.achievement p {
  color: #2c3e51;
  font-size: 1em;
  line-height: 1.5;
  transition: color 0.3s;
}

.achievement p:hover {
  color: #1549e6;
}

.achievement:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .achievement {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .achievement {
      flex: 1 1 100%;
      max-width: 100%;
  }
}

/* Service Section */
#service {
  padding: 60px 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.service .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.service dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service dt {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #1549e6;
}

.service dd {
  font-size: 1rem;
  color: #ffffff;
  margin: 0 0 20px;
}

@media (max-width: 768px) {
  .service dt {
      font-size: 1.3rem;
  }

  .service dd {
      font-size: 0.9rem;
  }
}

.service dt:hover {
  color: #007BFF;
  transition: color 0.3s ease-in-out;
}

/* Project Section */
#project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#project h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #1549e6;
}

.project-service {
  flex: 1px;
  margin: 10px;
  padding: 20px;
  background: #feb47b;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-service h2 {
  font-size: 1.8rem;
  color: #1549e6;
  margin-bottom: 20px;
  text-align: center;
}

.project-service ul {
  list-style: none;
  padding: 0;
}

.project-service li {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
}

.project-service strong {
  color: #000;
}

.project-service a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #1549e6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
  flex-wrap: wrap;
}

.project-service a:hover {
  background: #0056b3;
}

.project-service p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}

.project-service p a {
  color: #007BFF;
  text-decoration: none;
}

.project-service p a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  #project {
      padding: 10px;
  }

  .project-service {
      padding: 15px;
  }

  .project-service h2 {
      font-size: 1.5rem;
  }

  .project-service li {
      font-size: 0.9rem;
  }

  .project-service a {
      padding: 8px 15px;
  }
}

/* Contact Section */
#contact {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

#contact h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Social Links */
.home-sci {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.home-sci a {
  display: flex;
  align-items: center;
  background: #1549e6;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
  flex-wrap: wrap;
}

.home-sci a:hover {
  background: #f4f4f4;
  color: #fff;
  transform: translateY(-5px);
}

/* Contact Info */
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #ffffff;
}

/* Email Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form input[type="email"] {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

form input[type="email"]:focus {
  border-color: #1549e6;
  box-shadow: inset 0 2px 6px rgba(0, 123, 255, 0.5);
}

form input[type="submit"] {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

form input[type="submit"]:hover {
  background: #1549e6;
  transform: translateY(-3px);
}

/* Keyframes for Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Apply Animation */
#contact {
  animation: fadeIn 1s ease-in-out;
}

/* Responsive Design for Small Screens */
@media (max-width: 760px) {
  #header {
      padding: 5px 10px;
  }

  .btn-box a {
      padding: 8px 15px;
      margin: 1rem 1.5rem;
  }

  .home-sci a {
      font-size: 15px;
      padding: 8px 10px;
  }
  .profile-pic {
    width: 100px;
    height: auto;
  }

  form input[type="email"] {
      width: 90%;
  }
}

@media (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
      font-size: 1.2em;
      margin: 15px 0;
  }

  p {
      font-size: 16px;
  }
}



  
  
    
  


 



